doctype html
html
    head
        title YouTube Downloader
        link(href='/static/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css')
        link(href='/static/app/css/index.css' rel='stylesheet' type='text/css')
    body
        div.container
            div.controls
                img.logo(src='/static/app/youtube.png')
                input.search(id='searchField' type='text' placeholder='http://www.youtube.com/watch?v=CODE')
                span.downloadTypeGroup
                    input(type='radio' name='downloadType' checked='checked' value='video')
                    label Video
                    input(type='radio' name='downloadType' value='audio')
                    label Audio
                button.download(id='startDownload' type='submit') Pirate
            table.downloadsTable(border)
                thead
                    tr
                        th ID
                        th Type
                        th Name
                        th %
                        th
                tbody
    script(src='/static/jquery/jquery.min.js' type='text/javascript')
    script(src='/static/app/js/index.js' type='text/javascript')
